page-register {
    
        .scroll-content{
            background: url('../assets/imgs/water.jpg') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        
        }