page-contacts {
    
        .scroll-content{
            background: url('../assets/imgs/palm.jpg') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        
        }

         //Angelika Pappinen 1500967